body {
  margin: 0;
  background: linear-gradient(120deg, #026096, #011f41, #4c1437);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Montserrat';
}
img{
  -webkit-user-drag: none;
}
.container {
  margin: 1.5rem 0;
}

.logo {
  max-width: 35vw;
  text-indent: -999px;
}

h1,
h2 {
  margin: 0;
}

h2 {
  font-size: 2rem;
  color: #fff;
}

#controls {
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.4);
  width: 500px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: left;

  .load {
    display: none;
  }
}

#grid-controls {
  display: grid;
  grid-template-columns: 1fr;
}

h3 {
  margin: 1rem 0 0;
}

.control-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #ccc;

  grid-template-areas:
    'a a a c c c'
    'b b b c c c';

  img {
    max-width: 100%;
    width: 40px;
    border: 4px solid #000000;
    border-radius: 0.5rem;
    padding: 0.6rem;
    grid-area: a;
  }

  &.off {
    button {
      background: url('../img/svg/on.svg') no-repeat center center #ffffff;
      &:hover {
        box-shadow: 0 0 15px #7dff7d;
      }
    }

    h3::after {
      background-color: rgb(255, 0, 0);
    }
  }

  &.on {
    button {
      background: url('../img/svg/off.svg') no-repeat center center #ffffff;
      &:hover {
        box-shadow: 0 0 15px rgb(255, 121, 121);
      }
    }

    h3::after {
      background-color: rgb(0, 255, 0);
    }
  }

  h3 {
    grid-area: b;
    margin: 0;
    align-self: flex-end;

    &::after {
      content: '';
      margin-left: 0.5rem;
      display: inline-block;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      border: 1px solid #000;
    }
  }

  button {
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    aspect-ratio: 1 / 1;
    height: 100px;
    align-self: self-end;
    grid-area: c;

    transition: all 0.2s;

    &:hover {
      box-shadow: 0 0 10px #fff;
    }
    &:disabled {
      opacity: 0.5;
      box-shadow: none;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.light {
  background: linear-gradient(-90deg, #80d15f, #138fa5);
}

.door {
  background: linear-gradient(90deg, #4561dd, #af46c9);
}

.misc{
  background: linear-gradient(90deg, #ddba45, #46c972);
}

.load {
  width: 4rem;
  height: 4rem;

  border-radius: 50%;
  border: 0.5rem solid transparent;
  border-top: 0.5rem solid #138fa5;
  border-bottom: 0.5rem solid #138fa5;
  margin: 3rem auto;

  animation: rotate 1s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#controls.loading {
  .load {
    display: block;
  }
}

.mb-1 {
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  *{
    box-sizing: border-box;
  }

  .container{
    width: 100vw;
    overflow-x: hidden;
    margin-bottom: 0;
  }

  .logo{
    width: 80vw;
    max-width: 80vw;
  }

  h2{
    font-size: 1.4rem;
  }
  
  #controls{
    width: 100vw;
    border-radius: 0;
    margin-bottom: 0;
    &:not(.loading){
      padding-bottom: 6rem;
    }
  }
  .control-item{
    img{
      height: 50px;
      width: 50px;
    }
    h3{
      font-size: 1rem;
    }
    button{
      height: 74px;
    }
  }
}